html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Droid Sans';
    font-size: 12pt;
    overflow: hidden;
}

html {
    background-color: #1d1f21;
    background-image: url("http://localhost/dark-newtab/background.png"), url("http://localhost/dark-newtab/bg-small.png");
    background-size: 3840px 1080px;
}

body {
    background-color: rgba(29, 31, 33, 0.8);
    overflow-y: auto;
}

#container {
    display: grid;
    padding: 50px 60px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: 65px 50px;
}

@media (min-width: 1801px) { :root { --columns: 6; } }
@media (max-width: 1800px) { :root { --columns: 5; } }
@media (max-width: 1400px) { :root { --columns: 4; } }
@media (max-width: 1000px) { :root { --columns: 3; } }
@media (max-width:  800px) { :root { --columns: 2; } }
@media (max-width:  600px) { :root { --columns: 1; } }

.group {
    background: #2a2a2a;
    overflow: hidden;
}

.group-header {
    padding: 16px 32px;
    background: #404040;
    cursor: default;
}

.bookmark {
    display: block;
}

.bookmark-link {
    position: relative;
    display: block;
    padding: 16px 32px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.bookmark-link > span {
    position: relative;
    z-index: 10;
}

.bookmark-icon {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 25%;
    height: 50%;
    margin-right: 12px;
    filter: blur(10px) saturate(100%);
    transform: scale(4);
    opacity: 0.5;
    transition: all 0.1s ease;
}

.bookmark:hover .bookmark-icon {
    opacity: 1.0;
    transform: scale(6);
}
